.text-decorator-none{
    text-decoration: none;
}

.navBar-style{
    background-image: linear-gradient(to right, #00FFFF,#00FFFFba);
}

.cursor{
    cursor: pointer!important;
    color: #000000!important;
    font-weight: bold!important;
    font-size: 30px;

}

.logo{
    background-image: url(../../../assets/img/logo.svg);
    min-height: 10vh;
    width: 50vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    cursor: pointer!important;
}