
 .app-bar{
     background-color: #1C1C1C!important;
     color:#00FFFF!important;
     font-weight: bold!important;
 }

 .background-sobre-nos{
     background-image: url(../../../assets/img/background-diverso-transparencia.svg);
     background-color: #000000;
     background-size: 400px;

 }

 .titulo-sobre{
     align-items: center;
     text-align: center!important;
     font-weight: bold!important;
     color: #00FFFF!important; 
     
}

 .texto-sobre{
    justify-content: center!important;
    text-align: center!important;
    color: #00FFFF!important;
    padding: 30px!important;
}