.background-login{
    background-color: #000000!important;
}

.textos{
    font-weight: bold!important;
    text-decoration: none!important;

}

.titulo-login{
    color: #00FFFF!important;
    font-weight: bold!important;

}

.pergunta{
    color: #00FFFF;

}

.imagem{
    background-image: url(../../assets/img/background-analitic.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #00FFFF;
    min-height: 100vh;
    width: 100vh; 
}
.text-decorator-none{
    text-decoration: none!important;
}

.button-logar{
    font-weight: bold!important;
    color:#000000 !important;
    background-color: #00FFFF !important;
}

.button-logar:hover{
    font-weight: bold !important;
}

.textfields-login{
    background-color: #ffffff;
    border-radius: 10px;
}

.textfields-login::after{
    color: #00FFFF!important;
}

