.textos{
    font-weight: bold!important;

}

.imagem{
    background-image: url(https://i.imgur.com/Tu88W61.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #00A3C0;
    min-height: calc(100vh - 120px - 108px);
    width: 100vh; 
}
.text-decorator-none{
    text-decoration: none!important;
}

.button-logar{
    color: #ffffff !important;
    background-color: #00A3C0 !important;
}

.button-logar:hover{
    font-weight: bold !important;
}

