.box1{
    background-color: #000000 !important; 
    height: 120px !important;
}

.redes{
    font-size: 60px!important;
    color: #00A3C0;
}

.box2{
    background-color: #363636 !important; 
    height: 60px !important;
}

.textos{
    color: #00A3C0!important;
    text-decoration: none!important;
}