.box1{
    background-color: #1c1c1c !important; 
    height: 120px !important;
}

.redes{
    font-size: 60px!important;
    color: #00FFFF;
}

.box2{
    background-color: #363636 !important; 
    height: 60px !important;
}

.textos{
    color: #00FFFF!important;
    text-decoration: none!important;
}