.caixa{
    background-color: #000000 !important;
    min-height: calc(100vh - 120px - 108px);
}

.titulo{
    color: #00A3C0!important;
    font-weight: bold!important;
}

.botao{
    border-color: #ffffff!important;
    background-color: #1C1C1C!important; 
    color: #00A3C0!important;
    font-weight: bold!important;
}

.postagens{
    background-color: #ffffff;
}